html {
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;

  background-color: #ccbe9b;

}

body {
  font-family: Open Sans, sans-serif;
  text-rendering: optimizeLegibility;
  line-height: 1.7;
  margin: auto;
  max-width: 52em;
  margin-bottom: -1em;

  filter: drop-shadow(0 0 2.55rem rgba(0, 0, 0, 0.1));

  padding-bottom: 6em;
}


.sky {
  background-image: url("/header.png");
  height: 256px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.navbar {
  justify-content: center;
  align-items: center;
  margin: auto;
  text-align: center;
}

a {
  color: #98971a;
  text-decoration: underline;
}

a:visited {
  color: #98971a;
}

a:hover {
  text-decoration: none;
}

a:active {
  color: #98971a;
  text-decoration: none;
}

a:focus {
  outline: thin dotted;
}

p {
  margin: 1em 0;
  padding-left: .75em;
  padding-right: .75em;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #444;
  line-height: 125%;
  font-weight: 700;

  padding-left: .2em;
}

h4,
h5,
h6 {
  font-weight: bold;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.2em;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: 0.9em;
}

span {
  /* This fixes odd quirks with syntax highlighting in dockerfiles*/
  background-color: rgba(0, 0, 0, 0) !important;
}

blockquote {
  color: #666666;
  margin: 0;
  padding-left: 3em;
  border-left: 0.5em #eee solid;
}

hr {
  display: block;
  height: 2px;
  border: 0;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #eee;
  margin: 1em 0;
  padding: 0;
}

pre,
code,
kbd,
samp {
  font-family: Fira Code, monospace;
  font-size: 13px;
}

pre {
  margin-left: 1.5em;
  margin-right: 1.5em;
  border-left: 6px solid #b8bb26;
  padding: 1em;
  line-height: 1.2em;

  overflow-x: hidden;
  color: #ebdbb2;

  border-radius: .4em;
  filter: drop-shadow(0 0 .55rem rgba(0, 0, 0, 0.2));
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

ul,
ol {
  margin: 1em 0;
  padding: 0 0 0 2em;
}

li p:last-child {
  margin-bottom: 0;
}

ul ul,
ol ol {
  margin: 0.3em 0;
}

dl {
  margin-bottom: 1em;
}

dt {
  font-weight: bold;
  margin-bottom: 0.8em;
}

dd {
  margin: 0 0 0.8em 2em;
}

dd:last-child {
  margin-bottom: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

figure {
  display: block;
  text-align: center;
  margin: 1em 0;
}

figure img {
  border: none;
  margin: 0 auto;
}

figcaption {
  font-size: 0.8em;
  font-style: italic;
  margin: 0 0 0.8em;
}

table {
  margin-bottom: 2em;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-spacing: 0;
  border-collapse: collapse;
}

table th {
  padding: 0.2em 1em;
  background-color: #eee;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
}

table td {
  padding: 0.2em 1em;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  vertical-align: top;
}



h1,
h2,
h3,
h4,
h5,
h6 {
  color: #282828;
}
body {
  background: #ebdbb2;
  color: #282828;
}

a {
  color: #98971a;
}

a:visited {
  color: #98971a;
}

a:active {
  color: #98971a;
}

html {

  font-size: 2em;
}

pre, code, kbd, samp {

  font-size: .75em;
  font-family: Fira Code, monospace;
}

@media only screen and (min-device-width: 480px){

  html {
    font-size: 1em;
  }

  pre, code, kbd, samp {

    font-size: .9em;
    font-family: Fira Code, monospace;
  }
}