
body>header.is-fixed-above-lg {
    z-index: 2;
    position: sticky;
    top: 0;
    -webkit-backdrop-filter: blur(1rem);
    backdrop-filter: blur(1rem);
    background-color: var(--pico-header-background);
}

body>header.is-fixed-above-lg.is-fixed {
    border-bottom-color: var(--pico-header-border-color);
}







