
body {
    color: #FFF;
    font-size: 1.5em;
    background: linear-gradient(
        72deg, 
        #141316 25%, 
        #4b4852 100%
    );
    position: relative;
    min-height: 100vh;
}



.banner-container {

  width: 5em;       /* Define the size of the circular view */
  height: 5em;

}


pre {
  background-color: #141316 !important; 
}



ul {
  list-style: none;
}

li {
  padding-left: 1em; 
  text-indent: -.5em;
}

li::before {
  content: "● ";
  color: rgba(255,155,0,1); /* or whatever color you prefer */
}



