---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
import Ball from "./Ball.astro";
---

<header>
  <nav class="container" >
    <Ball />
    <div>
      <HeaderLink style="padding-right: .5em" class="contrast" href="/"
        >Home</HeaderLink
      >
      <HeaderLink style="padding-right: .5em" class="contrast" href="/blog"
        >Blog</HeaderLink
      >
      <HeaderLink style="padding-right: .5em" class="contrast" href="/resume"
        >Resume</HeaderLink
      >
    </div>
  </nav>
</header>
