<div
  class="prose-h1:text-3xl
         prose-h2:text-2xl
         prose-h3:text-1xl
         prose-h4:text-xl
         prose-h5:text-lg
         prose-h6:text-lg
         prose-headings:mt-4
         prose-headings:mb-4
         prose-pre:p-6
         prose-pre:rounded-sm
         prose-pre:drop-shadow-2xl
         prose-pre:shadow-2xl
         prose-pre:mb-16

         prose-p:mt-4
         prose-p:mb-4
         prose-p:leading-normal
         
         prose-a:text-pink
         prose-a:underline

         prose-code:text-flamingo

         prose-hr:border-crust
         prose-hr:border-t-2
         prose-hr:drop-shadow-2xl
         prose-hr:shadow-2xl
         prose-hr:mt-16
         "
>
  <slot />
</div>
