<div
  class="prose-a:text-blue-300
         prose-h1:text-amber-500 prose-h1:text-5xl
         prose-h2:text-amber-500 prose-h2:text-4xl
         prose-h3:text-amber-500 prose-h3:text-3xl
         prose-h4:text-amber-500 prose-h4:text-2xl
         prose-h5:text-amber-500 prose-h5:text-xl
         prose-h6:text-amber-500 prose-h6:text-lg
         prose-headings:mt-4
         prose-headings:mb-4
         prose-code:text-amber-500
         
         prose-p:mt-4
         prose-p:mb-4
         
         prose-p:leading-normal
         "
>
  <slot />
</div>
