<div
  class="prose-h1:text-5xl
         prose-h2:text-4xl
         prose-h3:text-3xl
         prose-h4:text-2xl
         prose-h5:text-xl
         prose-h6:text-lg
         prose-headings:mt-4
         prose-headings:mb-4
         prose-pre:p-6
         prose-pre:rounded-sm
         prose-pre:drop-shadow-2xl
         prose-pre:shadow-2xl
         prose-pre:text-sm
         prose-p:mt-4
         prose-p:mb-4
         prose-p:leading-normal
         
         prose-h1:text-peach
         prose-h2:text-peach
         prose-h3:text-peach
         prose-h4:text-peach
         prose-h5:text-peach
         prose-h6:text-peach
         prose-a:text-pink
         prose-a:underline

         prose-h1:pt-20
         prose-h2:pt-20
         prose-h3:pt-20
         prose-h4:pt-20
         prose-h5:pt-20
         prose-h6:pt-20

         prose-code:text-flamingo
         "
>
  <slot />
</div>
