{% extends "base.html" %} {% block content %}
<p>
  Hi I'm Brian. I probably won't write much.
</p>

<h4>Lists</h4>
<ul>
  {% set posts = get_section(path="lists/_index.md") %} {% for page in
  posts.pages %}
  <li>
    <a href="{{ page.permalink }}">{{ page.title }}</a>
  </li>
  {% endfor %}
</ul>
<h4>Posts</h4>
<ul>
  {% set posts = get_section(path="posts/_index.md") %} {% for page in
  posts.pages %}
  <li>
    <a href="{{ page.permalink }}">{{ page.title }}</a>
    {{ page.date | date(format="%Y-%m-%d") }}
  </li>
  {% endfor %}
</ul>

{% endblock content %}
